header {
    height: 1022px;
    background-image: url("../images/mainBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10px;
    margin-left: 100px;
}

.header__menu {
    display: none;
    background: none;
    border: none;
    width: 4rem;
    cursor: pointer;
}

.header__menu > img {
    max-width: 100%;
}

#header__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

#header__upper__nav {
    height: 60px;
    width: 720px;
    display: flex;
    margin-top: 25px;
}

.header__upper__logo {
    margin-top: 40px;
    color: #FFFFFF;
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    background: url(/images/logo.png) no-repeat;
    background-size: 47px 50px;
    background-position: left;
    padding-left: 70px;
    padding-right: 50px;
    margin-left: -5%;
}

#header__upper__nav__button {
    background-color: #EE4D47;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 60px;
    width: 158px;
    margin-left: auto;
    margin-right: 6%;
    margin-top: -3px;
    transition: transform 0.4s;
}

#header__upper__nav__button:hover {
    background-color: #ea251e;
    transform: scale(1.2);
    box-shadow: 0 0 0 2px #b01b17;
}

#header__upper__nav__button__text {
    font-weight: 700;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

#header__center {
    display: flex;
    width: 741px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-left: 86px;
    margin-top: 80px;
}

.header__upper__nav__text {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    flex: 2;
}

.header__upper__nav__text:hover {
    text-decoration: underline;
    color: #900303;
    cursor: pointer;
}

#header__lower {
    width: 220px;
    height: 60px;
    border-radius: 5px;
    background-color: #EE4D47;
    display: flex;
    margin-left: 84px;
    margin-top: 60px;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1);
}

#header__lower:hover {
    background-color: #ea251e;
    transform: scale(1.2);
    box-shadow: 0 0 0 2px #b01b17;
}

#header__lower__text {
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.image-container {
    position: relative;
    left: -300px;
    transition: left 1s ease-in-out;
}

.truck {
    margin-left: -300px;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    header {
        background-image: linear-gradient(#EB2A24 ,#FFEDBA00 );
        left: 0;
        right: 0;
        margin: 0 auto;
        height: auto;
    }

    #header__upper {
        justify-content: space-around;
    }

    .header__upper__logo {
        margin-left: 1%;
        margin-top: 0;
        margin-right: 0;
    }

    .header__menu {
        display: block;
    }

    #header__upper__nav {
        list-style-type: none;
        padding: 0;
        display: none;
        position: absolute;
        background-color: rgba(105, 12, 12, 0.81);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.28); /* Тінь для меню */
        border-radius: 5px;
        right: 0;
        top: 50px;
        z-index: 1;
        width: 13rem;
        height: auto;
        margin-right: 3rem;
    }

    #header__upper__nav__button {
        width: 100%;
    }

    #header__upper__nav.active {
        display: block;
    }

    #header__upper__nav a {
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
    }

    #header__center {
        right: 0;
        left: 0;
        margin: 0 auto;
        font-size: 4rem;
        width: 100%;
    }

    #header__lower {
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .truck {
        display: none;
    }
}

@media screen and (max-width: 1250px) {
    header {
        margin-left: 0;
    }
    
    #header__center {
        width: 90%;
    }
}

@media screen and (min-width: 1800px) {
    header {
        height: auto;
        width: 1600px;
        margin: 0 auto;
    }

    #header__upper__nav {
        transform: scale(1.3);
    }

    .header__upper__logo {
        transform: scale(1.2);
    }

    .header__upper__nav__text {
        transform: scale(1.2);
    }

    .truck {
        transform: scale(1.15);
    }
}